<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="topbar">
        <nav>
            <h1>Study Now!</h1>
            <ul>
            <li><a onclick="window.location.href='translate'">Translate</a></li>
            <li><a onclick="window.location.href='speech'">Text to Speech</a></li>
            </ul>        
        </nav>

    </div>
   
</body>
</html>
