<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topbar">
        
        <nav>
            <h1>Study Now!</h1>
            <h1 class="mainh">Translate</h1>
            <ul>
            <li><a onclick="window.location.href='translate'">Translate</a></li>
            <li><a onclick="window.location.href='speech'">Text to Speech</a></li>
            </ul>        
        </nav>

    </div>
    <div class="inputbox">
    <form action="{{ url_for("translate")}}" method="post" enctype='multipart/form-data'>
        <input type="text" name ="text_to_transalte" placeholder="Enter Text Here">
        <p>or upload a document</p>

        <input type="file" name="file" accept=".txt, .pdf"><br><br>
        <input type="submit" value="Upload">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <button class="buttonb1" type="submit">Translate</button>
        </div>
    </form>
     <div class="data">{{translated}}</div>  
        
    </div>
</body>
</html>